# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Rust files
[*.rs]
indent_style = space
indent_size = 4

# TOML files
[*.toml]
indent_style = space
indent_size = 2

# JavaScript/TypeScript/Vue files
[*.{js,ts,vue,json,jsonc}]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# Makefiles
[Makefile]
indent_style = tab

# Batch files (Windows)
[*.{bat,cmd}]
end_of_line = crlf
